.footer {
  height: 88px;
  margin-top: auto;
  padding: 0 8% 0;
  background-color: #252f3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerMobile {
  flex-direction: column;
  min-height: 102px;
  justify-content: center !important;
  row-gap: 25px;
}

.footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}

.footer > div > p {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: white;
}

.footerMobile > div > p {
  font-size: 12px !important;
}
