.step {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.step > p {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 20px;
  color: black;
}

.stepMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepMobile > p {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 12px;
  color: black;
}

.stepMobile > p > span {
  display: none;
}

.iconMobile {
  width: 20px;
  height: 20px;
}
